.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__controls{
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.main__controlsButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    /* background-color: lightgrey; */
    border-radius: 30px;
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
}

.main__controlsButtonIcon{
    color: #446455;
    
}