.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__controls{
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.main__controlsButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
}

.main__controlsButtonIcon{
    color: #446455;
    
}

.main__controlsButton:hover {
    background-color: #c3c3c3;
}

.main__controlsButton:active {
    transform: translateY(4px);
}